name: CI
on:
  push:
    branches:
      - 'main'
      - 'scratch/**'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+.[0-9]+'
  pull_request:

jobs:
  check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: ubuntu-22.04
            r: 3.6.3
            # Under the latest testthat, this fails with an obscure
            # waldo error ("object 'compare_proxy' not found").
            testthat_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2020-10-24/src/contrib/testthat_2.3.2.tar.gz'
            # Latest devtools requires a newer testthat.
            devtools_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2020-10-24/src/contrib/devtools_2.3.2.tar.gz'
            # Latest rhub requires R 4.0.
            rhub_pkg: 'url::https://mpn.metworx.com/snapshots/stable/2020-10-24/src/contrib/rhub_1.1.1.tar.gz'
          - os: ubuntu-22.04
            r: 4.0.5
          - os: ubuntu-22.04
            r: 4.1.3
          - os: ubuntu-22.04
            r: 4.2.3
          - os: ubuntu-22.04
            r: 4.3.1
          - os: ubuntu-latest
            r: release
    env:
      R_KEEP_PKG_SOURCE: yes
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::pkgdown
            any::rcmdcheck
            ${{ matrix.config.testthat_pkg }}
            ${{ matrix.config.devtools_pkg }}
            ${{ matrix.config.rhub_pkg }}
          upgrade: ${{ matrix.config.r == '3.6.3' && 'FALSE' || 'TRUE' }}
      - uses: r-lib/actions/check-r-package@v2
      - name: Check pkgdown
        shell: Rscript {0}
        run: pkgdown::check_pkgdown()
  release:
    if: github.ref_type == 'tag'
    name: Upload release
    needs: check
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: metrumresearchgroup/actions/mpn-latest@v1
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true
          # For pkgpub.
          extra-repositories: 'https://mpn.metworx.com/snapshots/stable/${{ env.MPN_LATEST }}'
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgpub
      - uses: metrumresearchgroup/actions/publish-r-release@v1
